<template>
	<div class="container">
		<div class="flex flex-column align-items-center mt-1">
			<h1>1. Поле Link</h1>
			<URLInput v-model="url" />

			<h1>2. DateTime picker</h1>
			<DateTimePicker v-model="time" />

			<h1>3. Сброс значений в Select</h1>
			<MultiSelectResetable v-model="selectedCities" :list="cities" placeholder="Select Cities" option-label="name" />

			<h1>4. Многострочный текст в ячейке</h1>
			<MultilineDataTable :data="spaceShuttleData" />

			<h1>5. Таблица с поиском (расширенное задание)</h1>
			<SearchableTable />
		</div>
	</div>
</template>

<script setup lang="ts">
import URLInput from './components/URLInput.vue'
import DateTimePicker from './components/DateTimePicker.vue'
import MultiSelectResetable from './components/MultiSelectResetable.vue'
import MultilineDataTable from './components/MultilineDataTable.vue'
import SearchableTable from './components/SearchableTable.vue'

const url = ref('google.com')
const time = ref(new Date(1645656000000))
const selectedCities = ref([])
const cities = ref([
    { name: 'New York', code: 'NY' },
    { name: 'Rome', code: 'RM' },
    { name: 'London', code: 'LDN' },
    { name: 'Istanbul', code: 'IST' },
    { name: 'Paris', code: 'PRS' }
])
const spaceShuttleData = '[13:36:53] Расчетное время: 9 мин[13:36:58] Открыть клапан откачки К1[13:36:58] Включить вакуумный насос[13:36:58] Закрыть клапан К5[13:36:58] Закрыть клапан дистилляции К2[13:36:58] Ожидание: 8 с[13:37:06] Заливка 2.2мл. в испаритель[13:37:06] Заданно 26.50602409638554 шагов[13:37:09] Заливка перекиси завершена[13:37:09] Открыть клапан дистилляции К2[13:42:09] Включить нагрев испарителя[13:42:09] Закрыть клапан дистилляции К2[13:42:09] конечное давление1.0960040758227925 торр[13:42:09] Выпаривание через К2[13:42:09] Выпаривание длилось5 мин[13:42:09] Откачка до 1 торр[13:42:15] Закрыть клапан откачки К1[13:43:09] Открыть клапан откачки К1[13:43:14] Аппаратное смещение 0 денсит. = -0.313683180809021[13:43:14] Закрыть клапан дистилляции К2'

</script>

<style>
.container {
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
</style>
