<template>
    <div class="date-time-picker">
        <Calendar v-model="defaultValue" @update:modelValue="handleUpdate" hourFormat="24" timeOnly showIcon>
            <template #footer>
                <div class="date-time-picker__footer">
                    <Button label="Сегодня" @click="handleSetToday" link />
                    <Button label="Очистить" @click="handleClear" link />
                </div>
            </template>
        </Calendar>
    </div>
</template>
    
<script setup lang="ts">
import Calendar from 'primevue/calendar'

const props = defineProps<{ modelValue: Date | string }>()
const defaultValue = ref<string | Date>(props.modelValue)
    
const emit = defineEmits<{ (e: 'update:modelValue', value: undefined | string | Date): void }>()

function pad(n: number) {
    return n < 10 ? '0' + n : n
}

function dateToTime(date: Date | string) {
    if (date instanceof Date) return `${pad(date.getHours())}:${pad(date.getMinutes())}`

    return date
}

function timeToDate(input: string | Date) {
    if (input instanceof Date) {
        return input
    } else if (!input) return ''

    const date = new Date()
    const [hours, minutes] = input.split(':').map((v) => Number(v))
    date.setHours(hours)
    date.setMinutes(minutes)

    return date
}

function handleUpdate(date: Date | string) {
    emit('update:modelValue', dateToTime(date))
}

function handleSetToday() {
    emit('update:modelValue', dateToTime(new Date()))
}

function handleClear() {
    emit('update:modelValue', '')
}

watch(() => props.modelValue, (newValue) => {
    defaultValue.value = timeToDate(newValue)
}, { immediate: true })
</script>

<style scoped lang="scss">
.date-time-picker {

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgb(0, 0, 0, 0.1);
        padding: 16px;
    }
}
</style>