<template>
    <div class="multi-select-resetable">
        <MultiSelect v-model="defaultValue" :options="list" :optionLabel="optionLabel" :placeholder="placeholder" class="w-full md:w-20rem">
            <template v-if="showResetIcon" #dropdownicon>
                <Button icon="pi pi-times" severity="danger" @click.stop="handleReset" />
            </template>
        </MultiSelect>
    </div>
</template>
    
<script setup lang="ts">
import MultiSelect from 'primevue/multiselect'

const props = defineProps<{ modelValue: any[], list: any[], placeholder?: string, optionLabel?: string }>()
const defaultValue = ref(props.modelValue)
const showResetIcon = computed(() => defaultValue.value.length)
    
const emit = defineEmits<{ (e: 'update:modelValue', value: any[]): void }>()
watch(defaultValue, () => emit('update:modelValue', defaultValue.value))

function handleReset() {
    defaultValue.value = []
}
</script>
    
<style scoped lang="scss">
</style>