<template>
    <div class="multiline-datatable">
        <DataTable :value="formatted" tableStyle="min-width: 50rem">
            <Column v-for="col of columns" :key="col.field" :field="col.field" :header="col.header"></Column>
        </DataTable>
    </div>
</template>
    
<script setup lang="ts">
import DataTable from 'primevue/datatable'
import Column from 'primevue/column'

const props = defineProps<{ data: string }>()

const columns = [
	{ field: 'lineNumber', header: 'Line #' },
    { field: 'time', header: 'Time' },
	{ field: 'message', header: 'Message' }
]
const regex = RegExp('\\[(?<time>[0-9]{2}:[0-9]{2}:[0-9]{2})\] (?<message>[а-яА-Я0-9 .=:-]+)', 'g')

const formatted = computed(() => {
    let array
    const data = []

    while ((array = regex.exec(props.data)) !== null) {
        data.push({ ...array.groups, lineNumber: data.length + 1 })
    }

    return data
})
</script>
    
<style scoped lang="scss">

</style>