<template>
    <div class="searchable-table">
        <DataTable ref="dt" :value="products" v-model:selection="selectedProducts" dataKey="id" 
            :paginator="true" :rows="10" :filters="filters"
            paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown" :rowsPerPageOptions="[5,10,25]"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products">
                <template #header>
                    <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                        <div class="p-inputgroup flex-1">
                            <Button icon="pi pi-sliders-v" severity="success" @click="handleToggleSearchSettings" />
                            <OverlayPanel ref="searchSettings">
                                <h4>Список колонок для фильтрации</h4>
                                <MultiSelect v-model="filterColumns" :options="selectedColumnsOrdered" optionLabel="header" placeholder="Поля таблицы для поиска" />
                            </OverlayPanel>
                            <InputText v-model="filterSearch" placeholder="Поиск..." class="w-full" @keydown.enter="handleSearch" />
                            <Button label="Submit" @click="handleSearch" />
                        </div>
                        <MultiSelect v-model="selectedColumns" :options="columns" optionLabel="header" placeholder="Поля таблицы" class="w-full md:w-20rem" />
					</div>
                </template>

                <Column selectionMode="multiple" style="width: 3rem" :exportable="false"></Column>
 
                <Column v-for="column in selectedColumnsOrdered" :key="`column-${column.field}`" :field="column.field" :header="column.header" :sortable="column.sortable" :style="column.style">
                    <template v-if="column.slot" #body="slotProps">
                        <SearchableTableTemplate :type="column.field" :data="slotProps.data" />
                    </template>
                </Column>
        </DataTable>
    </div>
</template>
    
<script setup lang="ts">
import DataTable from 'primevue/datatable'
import Column from 'primevue/column'
import InputText from 'primevue/inputtext'
import MultiSelect from 'primevue/multiselect'
import OverlayPanel from 'primevue/overlaypanel'
import SearchableTableTemplate from './SearchableTableTemplate.vue'

import { FilterMatchMode } from 'primevue/api'
import { ProductService } from '../services/ProductService'

onMounted(() => {
    ProductService.getProducts().then((data) => (products.value = data))
})

const searchSettings = ref()
const dt = ref()
const products = ref()
const selectedProducts = ref()
const columns = [
    { field: 'code', header: 'Code', sortable: true, style: 'min-width:12rem' },
    { field: 'name', header: 'Name', sortable: true, style: 'min-width:16rem' },
    { field: 'image', header: 'Image', slot: true },
    { field: 'price', header: 'Price', sortable: true, slot: true, style: 'min-width:8rem' },
    { field: 'category', header: 'Category', sortable: true, style: 'min-width:10rem' },
    { field: 'rating', header: 'Rating', sortable: true, slot: true, style: 'min-width:12rem' },
    { field: 'inventoryStatus', header: 'Status', sortable: true, slot: true, style: 'min-width:12rem' }
]
const selectedColumns = ref(columns)
const selectedColumnsOrdered = computed(() => columns.filter((column) => selectedColumns.value.some((selectedColum) => selectedColum.field === column.field)))
const filterSearch = ref('')
const filterColumns = ref([])
const filters = ref(filterToObject())

function handleToggleSearchSettings(event: any) {
    searchSettings.value.toggle(event)
}

function filterToObject() {
    const result = filterColumns.value.reduce((acc: any, column: any) => {
        acc[column.field as string] = { value: filterSearch.value || null, matchMode: FilterMatchMode.CONTAINS }
        return acc
    }, {})

    if (!Object.keys(result).length) {
        result.global = { value: filterSearch.value || null, matchMode: FilterMatchMode.CONTAINS }
    }

    return result
}

function handleSearch() {
    filters.value = filterToObject()
}
</script>
    
<style scoped lang="scss">

</style>