<template>
    <img v-if="type === 'image'" :src="`https://primefaces.org/cdn/primevue/images/product/${data.image}`" :alt="data.image" class="shadow-2 border-round" style="width: 64px" />
    <span v-else-if="type === 'price'">
        {{formatCurrency(data.price)}}
    </span>
    <Rating v-else-if="type === 'rating'" :modelValue="data.rating" :readonly="true" :cancel="false" />
    <Tag v-else-if="type === 'inventoryStatus'" :value="data.inventoryStatus" :severity="getStatusLabel(data.inventoryStatus)" />
</template>
    
<script setup lang="ts">
import Rating from 'primevue/rating'
import Tag from 'primevue/tag'

defineProps<{ type: string, data: any }>()

const formatCurrency = (value: number) => {
    if (value) return value.toLocaleString('en-US', {style: 'currency', currency: 'USD'})

    return
}

const getStatusLabel = (status: string) => {
    switch (status) {
        case 'INSTOCK':
            return 'success'

        case 'LOWSTOCK':
            return 'warning'

        case 'OUTOFSTOCK':
            return 'danger'

        default:
            return undefined
    }
}
</script>
    
<style scoped lang="scss">
</style>