<template>
<div class="url-input">
    <div v-if="title.length" class="flex justify-content-between align-items-center gap-2 border-1 border-round pl-2" style="min-width: 256px;">
        <a :href="url">{{ title }}</a>
        <Button icon="pi pi-file-edit" @click="handleEdit" />
    </div>
    <span v-else class="p-input-icon-right">
        <i v-if="isLoading" class="pi pi-spin pi-spinner"></i>
        <InputText ref="input" :disabled="isLoading" :value="modelValue" @input="updateValue" :placeholder="placeholder" @blur="fetchTitle" :autofocus="true" />
    </span>
</div>
</template>

<script setup lang="ts">
import Button from 'primevue/button'
import InputText from 'primevue/inputtext'

const input = ref<HTMLInputElement | null>(null)
const title = ref('')
const isLoading = ref(false)
const placeholder = 'https://'

const props = defineProps<{ modelValue: string }>()
const url = computed(() => `${placeholder}${props.modelValue}`)

const emit = defineEmits<{ (e: 'update:modelValue', value: string): void }>()

const updateValue = (e: Event) => {
    emit('update:modelValue', (e.target as HTMLInputElement).value)
}

async function fetchTitle() {
    try {
        const urlObject = new URL(url.value)
        isLoading.value = true
        const { data } = await useFetch(`https://proxy.cors.sh/${urlObject.href}`, {
            headers: {
                'x-cors-api-key': 'temp_c982797283e6e6a2031fabf0c6b0ac8b'
            }
        })
        const parser = new DOMParser()
        const doc = parser.parseFromString(data.value as string, 'text/html')
        title.value = doc.title || ''
    } catch (ex) {
        title.value = ''
    }
    isLoading.value = false
}

function handleEdit() {
    title.value = ''
}

onMounted(async () => await fetchTitle())
watchEffect(() => {
  if (!title.value && input.value) {
    const inputElement = (input.value as any).$el as HTMLInputElement
    if (inputElement) inputElement.focus()
  }
})
</script>

<style scoped lang="scss">

</style>